/* fitur tab */

.head {
    width: 100%;
    padding-top: 10%;
    height: 38vh;
    background-image: url("/image/cover-fitur.png");
    background-repeat: no-repeat;
    margin-top: 0;
}
/* Tab content Fitur & contact */
.font-tabs {
    font-size: 18px;
}

.tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    width: 90%;
    max-height: 1020px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
    margin-top: 50px;
}
.tabs input[name="tab-control"] {
    display: none;
}
.tabs .content div h2,
.tabs ul li label {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 16px;
    color: #428bff;
}
.tabs ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
}
.tabs ul li label br {
    display: none;
}
.tabs ul li label svg {
    fill: #929daf;
    height: 3em;
    vertical-align: bottom;
    margin-right: 0.5em;
    transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
    fill: #bec5cf;
}
.slider {
    position: relative;
    width: 20%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.indicator {
    position: relative;
    width: 80px;
    max-width: 100%;
    margin: 0 auto;
    height: 5px;
    background: #428bff;
    border-radius: 1px;
}

.wrap-content {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
    text-align: center;
}
.wrap-content h2 {
    color: #428bff;
    display: none;
    padding-top: 0;
}
.wrap-content h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428bff;
    margin-top: 5px;
    left: 1px;
}
.wrap-content p {
    font-size: 17px;
    text-align: justify;
    margin-right: 5%;
    margin-left: 0;
}

.tab-content {
    display: flex;
    flex-direction: row;
}
.tab-content img {
    width: 300px;
    height: 300px;
    flex: 0.8;
}
.tab-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
}
.tab-icon {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.tab-icon div {
    display: flex;
}

.tab-icon div img {
    font-size: 20px;
}

.tab-icon div i {
    font-size: 20px;
    margin-top: 4px;
    margin-right: 5px;
    color: #007dff;
}

.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    cursor: default;
    color: #428bff;
}
.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label
    svg {
    fill: #428bff;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(1):checked
        ~ ul
        > li:nth-child(1)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}
.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ .content
    > .wrap-content:nth-child(1) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    cursor: default;
    color: #428bff;
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label
    svg {
    fill: #428bff;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(2):checked
        ~ ul
        > li:nth-child(2)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ .content
    > .wrap-content:nth-child(2) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    cursor: default;
    color: #428bff;
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label
    svg {
    fill: #428bff;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(3):checked
        ~ ul
        > li:nth-child(3)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ .content
    > .wrap-content:nth-child(3) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    cursor: default;
    color: #428bff;
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label
    svg {
    fill: #428bff;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(4):checked
        ~ ul
        > li:nth-child(4)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%);
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ .content
    > .wrap-content:nth-child(4) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(5)
    > label {
    cursor: default;
    color: #428bff;
}
.tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(5)
    > label
    svg {
    fill: #428bff;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(5):checked
        ~ ul
        > li:nth-child(5)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
    transform: translateX(400%);
}
.tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ .content
    > .wrap-content:nth-child(5) {
    display: block;
}
@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .head {
        height: 32vh;
    }
    .myh1 {
        top: 16%;
        left: 30%;
        right: 30%;
    }
    .tab-content img {
        flex: 1;
    }
    .wrap-content p {
        font-size: 16px;
        margin-right: 3%;
        margin-left: 0;
    }
    .tab-icon {
        margin-right: 2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }
    .tabs ul li label br {
        display: initial;
    }
    .tabs ul li label svg {
        height: 2.5em;
    }
    .font-tabs {
        font-size: 15px;
    }
    .tab-content img {
        flex: 0.8;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .head {
        height: 26vh;
    }
    .myh1 {
        top: 15%;
        left: 10%;
        right: 10%;
    }
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }
    .tabs ul li label span {
        display: none;
    }
    .tabs .slider {
        display: none;
    }
    .tabs .content {
        margin-top: 20px;
    }
    .tabs .content .wrap-content h2 {
        display: block;
    }
    .tab-content {
        flex-direction: column;
        margin-top: 0;
    }
    .tab-content img {
        width: 250px;
        margin: auto;
    }
}

@media all and (max-width: 480px) {
    .head {
        height: 26vh;
    }
    .myh1 {
        top: 15%;
        left: 15%;
        right: 15%;
    }
    .tabs ul li {
        width: 15%;
        padding: 0;
    }
    .tabs ul li label {
        padding: 0;
        border-radius: 5px;
    }
    .tabs ul li label span {
        display: none;
    }
    .tabs .slider {
        display: none;
    }
    .tabs .content {
        margin-top: 20px;
    }
    .tabs .content .wrap-content h2 {
        display: block;
    }
    .tab-content {
        flex-direction: column;
        margin-top: 0;
    }
    .tab-content img {
        width: 250px;
        margin: auto;
    }
}
